/* GLOBAL STYLES */
body {
    margin: 0;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: rgb(100, 100, 205);
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
button {
    cursor: pointer;
}
button:focus {
    outline: 0;
}
input:focus {
    outline: 0;
}

/* SPECIFIC STYLES */
h1 {
    text-align: center;
}

h1, h2 {
    color: white;
}

/* CONTAINER */
.container {
    max-width: 80%;
    margin: auto;
}

/* FORM */
.form {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    background-color: white;
    border-radius: .5rem;
}
.form input {
    width: 100%;
    margin-right: 1rem;
    background-color: #F2F7F5;
    border-radius: 5px;
    border: none;
    padding: 1rem;
} 
.form button {
    padding: .5rem 2rem;
    background: #FAAE2C;
    border-radius: 5px;
    border: none;
}  

/* NEXT TOPICS */
.nexttopicContanier {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.nexttopicContanier li:first-of-type {
    padding-bottom: 1rem;
}
.nexttopicText ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nexttopicVotes ul li ul li:nth-of-type(2) {
    color: orangered;
}
.nexttopicVotes ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nexttopicVotes ul li ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.nexttopicVotes ul li ul li:first-of-type {
    margin-right: 1rem;
}
.nexttopicVotes ul li ul li:first-of-type button {
    background-color: #FAAE2C;
    border-radius: 50%;
    border: none;
    padding: 6px 8px;
}
.nexttopicVotes ul li:nth-of-type(2) ul {
    display: flex;
    flex-direction: row;
}
.nexttopicVotes ul li:nth-of-type(2) ul li:first-of-type {
    color: orangered;
}
.nexttopicVotes ul li:nth-of-type(2) ul li:last-of-type button {
    background-color: #FAAE2C;
    border-radius: 50%;
    border: none;
    padding: 6px 8px;
}

/* PAST TOPICS */
.pastTopicContainer {
    display: flex;
    flex-direction: column; 
    padding: 2rem;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.pastToptext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.discussedSing {
    text-align: center;
    color: orangered;
}